* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #fcdc00;
    margin: 0;
    padding: 20px;
}

/* High score button and timer */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
}

header p {
    margin: 0;
}

.timer {
    display: flex;
}

/* Landing page/Intro & Instructions */
#quiz-intro, .quiz, .high-score {
    display: block;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
}

#quiz-intro p {
    font-size: 20px;
}

.answer-container {
    padding: 5px;
}

.answer-choice {
    display: flex;
    padding: 5px;
    align-items: left;
}

.high-score {
    font-size: 20px;
    padding: 15px 30px;
}

.high-score button {
    margin-bottom: 5px;
}

.input {
    font-size: 20px;
    background-color: #fcdc00;
    border: 3px solid black;
    padding: 15px 30px;
    margin-bottom: 5px;
    text-align: center;
}

.btn {
    font-size: 20px;
    background-color: #fcdc00;
    border: 3px solid black;
    padding: 15px 30px;
    cursor: pointer;
}

.hide {
    display: none;
}

